body {
  width: 960px;
  margin: 0 auto;
  font-family: helvetica neue, arial, sans-serif;
  color: white;
  background-color: black;
  background-image: url(images/barscene.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {font-size: 36pt;
	font-family: 'Indie Flower';
	color: purple;}

h2 {color: purple;}

img {float: center;
padding: 20px;}

a {color: orange;}

a:hover {color: purple;}

#header {
	float: left;
	border: 1px solid black;
	overflow: hidden;
	border: 1px;
	background-color: black;
	padding: 20px;
}

#summary {
	clear: both;
border: 1px solid black; 
background-color: black;
padding: 20px;
margin-top: 20px;
}

p {color: white;}


img {width: 250px}

.jumbotron {background-color: transparent;}